{{ define "main" }}
  {{ partial "title.html" . }}
  <div class="blog-list">
    {{ range .Pages }}
      <article class="blog-card">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="blog-meta">
          <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
          {{ with .Params.categories }}
            <span class="categories">
              Categories: 
              {{ range . }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </span>
          {{ end }}
        </div>
        <div class="description">
          {{ .Description }}
        </div>
        <a href="{{ .RelPermalink }}" class="read-more">Read More</a>
      </article>
    {{ end }}
  </div>
{{ end }} 